/* ============================= */
/*        CLASH DISPLAY          */
/* ============================= */

@font-face {
  font-family: "Clash Display";
  src: url("./ClashDisplay-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clash Display";
  src: url("./ClashDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ============================= */
/*            SATOSHI            */
/* ============================= */

@font-face {
  font-family: "Satoshi";
  src: url("./Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* ============================= */
/*          SOULRISE             */
/* ============================= */

@font-face {
  font-family: "Soulrise";
  src: url("./Soulrise-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-soulrise {
  font-family: "Soulrise", sans-serif;
}